body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

form {
    border: 3px solid #f1f1f1;
    width:800px;
    margin:auto;
}

.flex-container {
    width: fit-content;
    background-color: rgb(213, 224, 236);
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    padding: 16px;
}

.middle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.flexibox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: darksalmon;
    color: black;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chocolate;
}

nav {
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
    background-color: darksalmon;
    display: block;
}

img {
    display: block;
    margin: auto;
}

a:hover {
    background-color: black;
    color: white;
}

a {
    color: indianred;
    text-decoration: none;
    font-weight: bold;
}